<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="_content/com.laganga.app.Shared/bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/com.laganga.app.Shared/app.css" />
    <link rel="stylesheet" href="com.laganga.app.Web.styles.css" />
    <link rel="icon" type="image/png" href="_content/com.laganga.app.Shared/favicon.png" />
    <HeadOutlet @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <script src="_framework/blazor.web.js"></script>
</body>

</html>
