@using Microsoft.AspNetCore.Components.Routing
@using com.laganga.app.Shared.Services
@inject IAuthenticationService AuthService
@inject NavigationManager NavigationManager
@DxResourceManager.RegisterTheme(Themes.Fluent)

<Router AppAssembly="typeof(Layout.MainLayout).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(Layout.MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    protected override async Task OnInitializedAsync()
    {
        HandleAuthenticationRedirect();
        AuthService.AuthenticationStateChanged += OnAuthenticationStateChanged;
        await Task.CompletedTask;
    }

    private void HandleAuthenticationRedirect()
    {
        if (AuthService.IsAuthenticated)
        {
            if (NavigationManager.Uri.EndsWith("/login", StringComparison.OrdinalIgnoreCase))
            {
                NavigationManager.NavigateTo("/", replace: true);
            }
        }
        else
        {
            if (!NavigationManager.Uri.EndsWith("/login", StringComparison.OrdinalIgnoreCase))
            {
                NavigationManager.NavigateTo("/login", forceLoad: true, replace: true);
            }
        }
    }

    private void OnAuthenticationStateChanged()
    {
        HandleAuthenticationRedirect();
        StateHasChanged();
    }

    public void Dispose()
    {
        AuthService.AuthenticationStateChanged -= OnAuthenticationStateChanged;
    }
}