@using com.laganga.app.Shared.Services
@inject IAuthenticationService AuthService
@inject ParameterService ParamService
@inject NavigationManager NavigationManager


<div class="dx-menu-container">
    @if (AuthService.IsAuthenticated)
    {
        <DxMenu Title="@currentUserNickname"
                Orientation="@Orientation.Horizontal"
                DisplayMode="@MenuDisplayMode.Auto"
                CollapseItemsToHamburgerMenu="true"
                CssClass="main-navigation-menu"
                ItemCssClass="nav-menu-item"
                >
            <Items>
                <DxMenuItem NavigateUrl="/"
                            Text="Home"
                            IconCssClass="bi bi-house-door-fill" />

                <DxMenuItem Text="Ingreso de Mercadería"
                            IconCssClass="bi bi-box-seam">
                    <Items>
                        <DxMenuItem NavigateUrl="/Bodega/IngresoOrdenCompra"
                                    Text="Orden de Compra"
                                    IconCssClass="bi bi-file-text" />
                        <DxMenuItem NavigateUrl="/Bodega/IngresoOrdenConsignada"
                                    Text="Orden de Consignación"
                                    IconCssClass="bi bi-file-earmark-text" />
                        <DxMenuItem NavigateUrl="/Bodega/IngresoOrden"
                                    Text="Sin Origen"
                                    IconCssClass="bi bi-file-plus" />
                    </Items>
                </DxMenuItem>
                <DxMenuItem Text="Egreso de Mercadería"
                            IconCssClass="bi bi-box-seam">
                    <Items>
                        <DxMenuItem Text="Origen de Bodega"
                                    IconCssClass="bi bi-file-text"
                                    NavigateUrl="/Bodega/EgresoComprobante?tipoPantalla=OrigenBodega" />
                        <DxMenuItem Text="Origen de Sucursal"
                                    IconCssClass="bi bi-file-earmark-text"
                                    NavigateUrl="/Bodega/EgresoComprobante?tipoPantalla=OrigenSucursal" />
                    </Items>
                </DxMenuItem>
                <DxMenuItem NavigateUrl="/pistoleoId"
                            Text="Generar ID Pistoleo"
                            IconCssClass="bi bi-qr-code" />

                <DxMenuItem Text="Logout"
                            IconCssClass="bi bi-box-arrow-right"
                            @onclick="HandleLogout" />
            </Items>
        </DxMenu>
    }
    else
    {
        <div class="top-row ps-3 navbar navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="">La Ganga</a>
            </div>
        </div>
    }
</div>

@code {
    private string currentUserNickname => AuthService.CurrentUser?.FindFirst("nickname")?.Value ?? "La Ganga";

    protected override void OnInitialized()
    {
        AuthService.AuthenticationStateChanged += OnAuthenticationStateChanged;
    }
    private void OnAuthenticationStateChanged()
    {
        StateHasChanged();
    }

    public void Dispose()
    {
        AuthService.AuthenticationStateChanged -= OnAuthenticationStateChanged;
    }

    private async void HandleLogout()
    {
        
        await AuthService.LogoutAsync();
        NavigationManager.NavigateTo("/login", replace: true);
    }
}
